.canvas-board{
    display: flex;
    flex-direction: column;
}
.canvas-board canvas{
    cursor: pointer;
    outline: black 3px solid;
    border-radius: 5px;
    margin: 5px;
}
.output-canvas{
    display: none;
}
.button-group{
    display: flex;
    justify-content: center;
}